In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu,shapiro,wilcoxon,ttest_rel
from statsmodels.stats.power import ttest_power

1. You were recently hired as a business analyst in a top sports company. The senior management team has asked you to come up 
with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament). 
The given data set contains information on all the teams that have so far participated in all the past tournaments. 
It has data about how many goals each team scored, conceded; how many times they came within the first 6 positions, 
how many seasons they have qualified, their best position in the past, etc. You are required to do the following:

Before doing any analysis it would be a good idea to check for any hypens or other symbols the data set and 
make appropriate replacements to make sure you can perform arithmetic operations on the data. 
Prepare a short report to answer the following questions:

In [2]:
cup = pd.read_csv('Laliga.csv',header=1)
cup.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [3]:
cup['Debut']=cup['Debut'].str.slice(0,4).astype(int)

In [4]:
cup['Points'] = cup['Points'].str.replace('-','0').astype(int)

In [5]:
cup['GamesPlayed'] = cup['GamesPlayed'].str.replace('-','0').astype(int)

In [6]:
cup['GamesWon'] = cup['GamesWon'].str.replace('-','0').astype(int)

In [7]:
cup['GamesDrawn'] = cup['GamesDrawn'].str.replace('-','0').astype(int)

In [8]:
cup['GamesLost'] = cup['GamesLost'].str.replace('-','0').astype(int)

In [9]:
cup['GoalsFor'] = cup['GoalsFor'].str.replace('-','0').astype(int)

In [10]:
cup['GoalsAgainst'] = cup['GoalsAgainst'].str.replace('-','0').astype(int)

In [11]:
cup['Champion'] = cup['Champion'].str.replace('-','0').astype(int)

In [12]:
cup['Runner-up'] = cup['Runner-up'].str.replace('-','0').astype(int)

In [13]:
cup['Third'] = cup['Third'].str.replace('-','0').astype(int)

In [14]:
cup['Fourth'] = cup['Fourth'].str.replace('-','0').astype(int)

In [15]:
cup['Fifth'] = cup['Fifth'].str.replace('-','0').astype(int)

In [16]:
cup['Sixth'] = cup['Sixth'].str.replace('-','0').astype(int)

In [17]:
cup['T'] = cup['T'].str.replace('-','0').astype(int)

a. Which are the teams which started playing between 1930-1980?

In [66]:
debut_team = cup[cup['Debut'].between(1930,1980,inclusive = True)]
debut_team['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

b.Which are the top 5 teams in terms of points?

In [51]:
cup.sort_values(by='Points',ascending=False)['Team'].head(5)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

c.What is the distribution of the winning percentage for all teams? Which teams are in the top 5 in terms of winning percentage? (Winning percentage= (GamesWon / GamesPlayed)*100)

In [52]:
cup['Winning Percentage'] = cup['GamesWon']/cup['GamesPlayed']*100
cup.sort_values(by='Winning Percentage',ascending=False)['Team'].head(5)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

d.	Is there a significant difference in the winning percentage for teams which have attained a best position between 1-3 and those teams which have had a best position between 4-7.

In [ ]:
# Hypothesis:
H0 : Winning Percentage for teams attained best position between 1-3 has no significant difference with Winning Percentage for teams attained best position between 4-7
Ha : Winning Percentage for teams attained best position between 1-3 has significant difference with Winning Percentage for teams attained best position between 4-7

In [63]:
g_1 = pd.DataFrame(cup['Winning Percentage'][cup['BestPosition'].between(1,3,inclusive=True)])
g1 = g_1.to_numpy()
g_2 = pd.DataFrame(cup['Winning Percentage'][cup['BestPosition'].between(4,7,inclusive=True)])
g2 = g_2.to_numpy()

In [64]:
# Shapiro test:
print('shapiro test output is:',shapiro(g1))
print('shapiro test output is:',shapiro(g2))

# Pvalue > 0.05. Therefore proceeding with two unpaired parametric test

shapiro test output is: (0.8252524733543396, 0.0035329433158040047)
shapiro test output is: (0.9436671733856201, 0.2809881269931793)

In [65]:
# Ttest:
ttest_ind(g1,g2)

Ttest_indResult(statistic=array([4.99271534]), pvalue=array([1.53621019e-05]))

In [ ]:
# Inference:
Pvalue < 0.05. Therefore Ha ia accpected.
Winning Percentage for teams attained best position between 1-3 has significant difference with Winning Percentage for teams attained best position between 4-7

2. A study was done to measure the blood pressure of 60 year old women with glaucoma. A random sample of 200 60-year old women with glaucoma was chosen. The mean of the systolic blood pressure in the sample was 140 mm Hg and the standard deviation was 25 mm Hg.

In [28]:
n = 200
x_bar = 140
std_de = 25

a. Calculate the estimated standard error of the sample mean? What does the standard error indicate?

In [29]:
SE = 25/np.sqrt(200)
SE

1.7677669529663687

b.Estimate a 95% confidence interval for the true mean blood pressure for all 60-year old women with glaucoma.

In [30]:
print('95% confidence interval for the true mean blood pressure for all 60-year old women with glaucoma:',[x_bar-1.96*SE,x_bar+1.96*SE])

95% confidence interval for the true mean blood pressure for all 60-year old women with glaucoma: [136.5351767721859, 143.4648232278141]

c.Assume that instead of 200, a random sample of only 100 60-year old women with glaucoma was chosen. The sample mean and standard deviation estimates are the same as those in the original study. What is the estimated 95% confidence interval for the true mean blood pressure?

In [31]:
n = 100

x_bar = 140
std_de = 25

SE = std_de/np.sqrt(n)
print('Standard Error of sample is:',SE)

# For 95% confidence interval is:
print('Estimated 95% confidence interval for the true mean blood pressure:',[x_bar-1.96*SE,x_bar+1.96*SE])

Standard Error of sample is: 2.5
Estimated 95% confidence interval for the true mean blood pressure: [135.1, 144.9]

d.Which of the two above intervals are wider?

In [ ]:
# 95% Confidence interval for 200 samples is :[136.5351767721859, 143.4648232278141]
# 95% Confidence interval for 100 samples is :[91.00484611378388, 187.7067407384096]
From the above result, we can conclude that, for 100 samples interval is more wider than 200 samples.

e.Explain in non-technical terms why the estimated standard error of a sample mean tends to decrease with an increase in sample size.

In [ ]:
While considering 200(entire) samples, Standard error is approximately 1.76. But while considering 100 samples,Standard error is 2.46.
Because while considering 200 samples standard error is calculated for the entire population sample. so it will be very less
rather than approximation.

3. Par Inc., is a major manufacturer of golf equipment. Management believes that Par’s market share could be increased with the introduction of a cut-resistant, longer-lasting golf ball. Therefore, the research group at Par has been investigating a new golf ball coating designed to resist cuts and provide a more durable ball. The tests with the coating have been promising.

One of the researchers voiced concern about the effect of the new coating on driving distances. Par would like the new cut-resistant ball to offer driving distances comparable to those of the current-model golf ball. To compare the driving distances for the two balls, 40 balls of both the new and current models were subjected to distance tests. The testing was performed with a mechanical hitting machine so that any difference between the mean distances for the two models could be attributed to a difference in the design. The results of the tests, with distances measured to the nearest yard, are contained in   the data set “Golf”.

In [2]:
golf = pd.read_csv('Golf.csv')

In [3]:
g_c = pd.DataFrame(golf['Current'])
g1 = g_c.to_numpy()
g_n = pd.DataFrame(golf['New'])
g2 = g_n.to_numpy()

a.Formulate and present the rationale for a hypothesis test that Par could use to compare the driving distances of the current and new golf balls.

In [ ]:
# Hypothesis:
H0 : Effect of new coating has no effect on driving distances
Ha : Effect of new coating has effect on driving distances

b.Analyze the data to provide the hypothesis testing conclusion. What is the p-value for your test? What is your recommendation for Par Inc.?

In [10]:
# shapiro test:
print('Shapiro test for Current Golf:',shapiro(g1))
print('Shapiro test for New Golf:',shapiro(g2))

# in the above both test pvalue > 0.05. Here considering one set of data with golf equipment
# and coating on the same equipment measuring driving distances. Hence it is proceeding with paried parametric test.

Shapiro test for Current Golf: (0.9707046747207642, 0.378787100315094)
Shapiro test for New Golf: (0.9678263664245605, 0.3064655363559723)

In [12]:
#ttest:
ttest_rel(g1,g2)

# Inference:
# Pvalue > 0.05. Hence H0 is accepted. Therefore,Effect of new coating has no effect on driving distances.

Ttest_relResult(statistic=array([1.27696998]), pvalue=array([0.20916362]))

c.What is the 95% confidence interval for the population mean of each model, and what is the 95% confidence interval for the difference between the means of the two population?

In [4]:
mean_g1 = np.mean(g1)
mean_g2 = np.mean(g2)
std_g1 = np.std(g1,ddof=1)
std_g2 = np.std(g2,ddof=1)
n1 = len(g1)
n2 = len(g2)

print('Mean of Current Golf:',mean_g1)
print('Mean of New Golf:',mean_g2)
print('standard deviation of current golf:',std_g1)
print('standard deviation of new golf:',std_g2)
print('Number of samples in current golf:',n1)
print('Number of samples in new golf:',n2)

SE1 = std_g1/np.sqrt(n1)
SE2 = std_g2/np.sqrt(n2)

print('Standard Error of current golf:',SE1)
print('Standard Error of New golf:',SE2)

print('95% confidence interval for the population mean of Current golf model:',[mean_g1-1.96*SE1,mean_g1+1.96*SE1])
print('95% confidence interval for the population mean of New golf model:',[mean_g2-1.96*SE2,mean_g2+1.96*SE2])

Mean of Current Golf: 270.275
Mean of New Golf: 267.5
standard deviation of current golf: 8.752984838884595
standard deviation of new golf: 9.896904462947894
Number of samples in current golf: 40
Number of samples in new golf: 40
Standard Error of current golf: 1.3839684207898637
Standard Error of New golf: 1.5648379944000428
95% confidence interval for the population mean of Current golf model: [267.5624218952518, 272.98757810474814]
95% confidence interval for the population mean of New golf model: [264.43291753097594, 270.56708246902406]

In [7]:
se1 = std_g1**2/n1
se2 = std_g2**2/n2
print('95% confidence interval for the difference between mean of population:',[(mean_g1-mean_g2)-1.96*(np.sqrt(se1+se2)),(mean_g1-mean_g2)+1.96*(np.sqrt(se1+se2))])

95% confidence interval for the difference between mean of population: [-1.3195176573259557, 6.86951765732591]